In [1]:
import pandas as pd

In [90]:
data_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data'
df = pd.read_csv(data_url, header=None)

In [91]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03

In [92]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
1989,12,?,?,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,?,?,?,?,0.00,?,0.09
1990,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,?,?,?,?,0.00,?,0.45
1991,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,6,?,?,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [93]:
df.shape

(1994, 128)

In [94]:
# extractig column names from description
names_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.names'

In [95]:
import requests
r = requests.get(names_url)

In [96]:
import re

columns = re.findall(r'\@attribute (\w*)', r.text)
del r

In [97]:
df.columns = columns

In [98]:
df.head()

,state,county,community,communityname,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,LemasPctOfficDrugUn,PolicBudgPerPop,ViolentCrimesPerPop
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03

In [99]:
df.select_dtypes(include='object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 26 columns):
county                  1994 non-null object
community               1994 non-null object
communityname           1994 non-null object
OtherPerCap             1994 non-null object
LemasSwornFT            1994 non-null object
LemasSwFTPerPop         1994 non-null object
LemasSwFTFieldOps       1994 non-null object
LemasSwFTFieldPerPop    1994 non-null object
LemasTotalReq           1994 non-null object
LemasTotReqPerPop       1994 non-null object
PolicReqPerOffic        1994 non-null object
PolicPerPop             1994 non-null object
RacialMatchCommPol      1994 non-null object
PctPolicWhite           1994 non-null object
PctPolicBlack           1994 non-null object
PctPolicHisp            1994 non-null object
PctPolicAsian           1994 non-null object
PctPolicMinor           1994 non-null object
OfficAssgnDrugUnits     1994 non-null object
NumKindsDrugsSeiz       1994 non-null object
PolicAveOTWorked        1994 non-null object
PolicCars               1994 non-null object
PolicOperBudg           1994 non-null object
LemasPctPolicOnPatr     1994 non-null object
LemasGangUnitDeploy     1994 non-null object
PolicBudgPerPop         1994 non-null object
dtypes: object(26)
memory usage: 405.1+ KB

In [100]:
# also the columns which contain to much of missing data
coerce_columns = ['OtherPerCap', 'LemasSwornFT', 'LemasSwFTPerPop', 'LemasSwFTFieldOps',
                  'LemasSwFTFieldPerPop', 'LemasTotalReq', 'LemasTotReqPerPop', 'PolicReqPerOffic', 
                  'PolicPerPop', 'RacialMatchCommPol', 'PctPolicWhite', 'PctPolicBlack',
                  'PctPolicHisp', 'PctPolicAsian', 'PctPolicMinor', 'OfficAssgnDrugUnits',
                  'NumKindsDrugsSeiz', 'PolicAveOTWorked', 'PolicCars', 'PolicOperBudg',
                  'LemasPctPolicOnPatr', 'LemasGangUnitDeploy', 'PolicBudgPerPop'
                 ]

for col in coerce_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [103]:
len(coerce_columns)

23

In [101]:
df.select_dtypes(include='object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 3 columns):
county           1994 non-null object
community        1994 non-null object
communityname    1994 non-null object
dtypes: object(3)
memory usage: 46.8+ KB

In [52]:
non_predictive_columns = columns[:3]
non_predictive_columns

['state', 'county', 'community']

In [102]:
df[coerce_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 23 columns):
OtherPerCap             1993 non-null float64
LemasSwornFT            319 non-null float64
LemasSwFTPerPop         319 non-null float64
LemasSwFTFieldOps       319 non-null float64
LemasSwFTFieldPerPop    319 non-null float64
LemasTotalReq           319 non-null float64
LemasTotReqPerPop       319 non-null float64
PolicReqPerOffic        319 non-null float64
PolicPerPop             319 non-null float64
RacialMatchCommPol      319 non-null float64
PctPolicWhite           319 non-null float64
PctPolicBlack           319 non-null float64
PctPolicHisp            319 non-null float64
PctPolicAsian           319 non-null float64
PctPolicMinor           319 non-null float64
OfficAssgnDrugUnits     319 non-null float64
NumKindsDrugsSeiz       319 non-null float64
PolicAveOTWorked        319 non-null float64
PolicCars               319 non-null float64
PolicOperBudg           319 non-null float64
LemasPctPolicOnPatr     319 non-null float64
LemasGangUnitDeploy     319 non-null float64
PolicBudgPerPop         319 non-null float64
dtypes: float64(23)
memory usage: 358.4 KB

In [105]:
import os

if not os.path.exists('data'):
    os.mkdir('data')

df.to_csv('data/communities.data.prep', index=None)